@charset "UTF-8";

/*    index.html   */

html {
    font-family: 'Philosopher', sans-serif;  
    font-size: 100%;
    color: #443222;
}

body {
    
}

#top {
    background-image: url("../GFTD.CAFE/img/main-bg.jpg");  
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;  
}

#logo img {
    width: 15%;
    height: auto;
    margin-left: 15%;
    margin-top: 1%;
    float: left;
}

nav ul {
    display: flex; 
    margin-left: 60%;
}
 
nav ul li {
    list-style-type: none; 
    text-decoration: none;
    margin-top: 6%;
    font-size: 120%;
    font-family: 'Kosugi Maru', sans-serif;
}

nav ul li a {
    display: block;
    margin-left: 50px;
    text-decoration: none;
    font-family: 'Kosugi Maru', sans-serif;
}

nav ul li a:visited {
    color: #443222;
}

nav ul li a:hover {
    color: #0bd;
}


#top h2 {
    text-align: center;
    font-size: 450%;
    margin-top: 13%;
    clear: left;
}
 
#top p {
    text-align: center;
    margin-top: 3%;
}
#top a button[type="button"] {
    margin-left: 42%;  
    margin-top: 2%;  
    padding: 15px 40px;
    font-size: 130%;
    color: white;
    background-color: #0bd;
    border-radius: 5px;
}

/*    news.html    */

#fruits {
   position: relative; 
}

#fruits h1 {
   position: absolute; 
   top: 50px;
   left: 680px;
   font-size: 400%;
   }

#fruits img {
    width: 1600px;
    height: 200px;
    object-fit: none;
    object-position: 50% 15%;
}



#news .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 8%;
}

.date {
    text-align: center;
    margin-left: 15%;
    margin-right: 4%;
    padding: 15px;
    width: 13%;
    height: 9%;
    color: white;
    background-color: #0bd;
    border-radius: 50%;
    float: left;
}

#m_d {
    font-size: 200%;
    line-height: 1.5em;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}

#y {
    font-size: 120%;
    line-height: 2.0em;
    padding-top: 5px;
}

.main {
}

.main h3 {
    font-size: 2.5em;
    line-height: 1.5em;
}

#category {
    margin-left: 30%;
    margin-top: 1%;
    font-size: 1.0em;
}
.main img {
    width: 800px;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.main p {
    width: 800px;
    font-size: 1.5em;
    margin-left: 15%;
    line-height: 1.5em;
}

.side {
    width: 190px;
    margin-right: 0%;
}

.side h3 {
    border-bottom: 2px solid #0bd;
    padding-bottom: 20px;
}

.side ul li {
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 10px;
    font-size: 1.1em;
    list-style-type: none;
    margin: 15% 0%;
}

.side p {
    line-height: 2em;
    margin-top: 10px;
}

footer {
    text-align: center;
    width: 100%;
    color: white;
    background-color: #443222;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*   menu.html   */

#menu header {
    background: grey url("/GFTD.CAFE/img/menu-bg.jpg") no-repeat;
    background-size: 100%; 
    background-position:; 
    background-size: ; 
    width: 100%;
    background-blend-mode: screen; 
}

#menu header h1 {
    font-size: 6.5em;
    text-align: center;
    margin-top: 11%;
}

#menu header p {
    font-size: 1.2em;
    line-height: 1.7em;
    margin-left: 34%;
    margin-top: 2%;
    padding-bottom: 14%;
}

#menu main {
    background-color: white;
    margin-top: 5%;
    margin-left: 17%;
    margin-right: 15%;
    margin-bottom: 0%;
}

.box-big1 {
    width: 80%;
    height: auto;
    margin-bottom: 30%;
}

.box-big1 img {
    width: 120%;
    height: auto;
}

.item2 {
    margin-bottom: 40%;
}
.item2 img {
    width: 90%;
}

.item3 {
    margin-bottom: 40%;
}

.item3 img {
    width: 90%;
}

.item4 img {
    width: 90%;
    height: auto;
}

.item5 img {
    width: 90%;
    height: auto;
}

.item6 img {
    width: 90%;
    height: auto;
}

.item7 img {
    width: 90%;
    height: auto;
}

.item8 img {
    width: 90%;
    height: auto;
}

.item9 img {
    width: 90%;
    height: auto;
}

.container {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px 220px 220px 220px;
}

.box-big1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

